
<h3>Recommended for you</h3>
 <div class="container">
   <a routerLink="/rentals/new york/homes">
      <mat-card class="example-card" >
          <img mat-card-image src="../../../assets/images/architecture.jpg" alt="" >
          <h5>New York</h5>
        </mat-card>
   </a>
     
   <a routerLink="/rentals/boston/homes"> <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/boston.jpg" alt="">
      <h5>Boston</h5>
    </mat-card></a>    
   <a routerLink="/rentals/san francisco/homes">   <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/sanfrancisco.jpg" alt="">
         <h5>San Franciso</h5>
    </mat-card></a>    

   <a routerLink="/rentals/Spisska Nova Ves/homes">   
    <mat-card class="example-card">
        <img mat-card-image src="../../../assets/images/slovakia.jpg" alt="">
        <h5>Spisska Nova Ves</h5>
      </mat-card></a>    

   <a routerLink="/rentals/new york/homes">
    <mat-card class="example-card">
        <img mat-card-image src="../../../assets/images/chinatown.jpg" alt="">
        <h5>Tokyo</h5>
      </mat-card></a>    

       
          
     
       

  </div>
