<div [ngStyle]="style" class="editable-component">
  <input *ngIf="isActiveInput"
    type="type"
    class="{{ className }}"
    [(ngModel)]="entity[fieldName]"
    [value]="entity[fieldName]"
    (keydown.escape)="cancel()"
    (keyup.enter)="updateEntity()">
  <span *ngIf="!isActiveInput" class="{{ className }} inline">{{ uppercase(entity[fieldName]) }}</span>
  <div class="inline">
    <button 
      *ngIf="!isActiveInput"
      class="btn btn-sm btn-warning btn-editable"
      (click)="isActiveInput = true">Edit</button>
    
    <button 
      *ngIf="isActiveInput"
      class="btn btn-sm btn-success btn-editable"
      (click)="updateEntity()">Save</button>
    
    <button 
      *ngIf="isActiveInput"
      class="btn btn-sm btn-danger btn-editable"
      (click)="cancel()">Cancel</button>
  </div>
</div>
