<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/homepage"
    >Happy Inn <img src="assets/images/happy-inn.jpg"
  /></a>
  <div class="search-section">
    <div style="margin-right: 5px">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Search by city</mat-label>
        <input #citySearch matInput placeholder="New York" type="search" />
      </mat-form-field>
    </div>

    <mat-form-field style="margin-right: 5px" appearance="outline">
      <mat-label>Search by dates</mat-label>
      <input
        matInput
        placeholder="Date Range"
        name="daterangepicker"
        daterangepicker
        [options]="options"
        type="text"
        class="date-picker"
      />
    </mat-form-field>

    <mat-form-field
      style="margin-right: 5px"
      appearance="outline"
      floatLabel="always"
    >
      <mat-label>Search by guest number</mat-label>
      <input
        matInput
        placeholder="1"
        name="guestNumber"
        type="number"
        min="1"
        oninput="validity.valid||(value='');"
      />
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="search(citySearch.value)">
      Search
    </button>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto ">
      <ng-container *ngIf="!auth.isAuthenticated()">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login"
            >Login <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ng-container>

      <ng-container *ngIf="auth.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link">{{ auth.getUsername() }}</a>
        </li>

        <div class="nav-item dropdown clickable">
          <a
            class="nav-link dropdown-toggle clickable"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Owner Section
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/users/profile">Profile</a>
            <a class="dropdown-item" routerLink="/rentals/new">Create Rental</a>
            <a class="dropdown-item" routerLink="/manage/rentals"
              >Manage Rentals</a
            >
            <a class="dropdown-item" routerLink="/manage/bookings"
              >Manage Bookings</a
            >
          </div>
        </div>

        <li class="nav-item" clickable>
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
