<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Happy Inn</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Careers</a>
              </li>
              <li>
                <a href="#!">Policies</a>
              </li>
              <li>
                <a href="#!">Help</a>
              </li>
              <li>
                <a href="#!">Diversity & Belonging</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Discover</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Trust & Safety</a>
              </li>
              <li>
                <a href="#!">Gift Card</a>
              </li>
              <li>
                <a href="#!">Guide Books</a>
              </li>
              <li>
                <a href="#!">Events</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

            <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Hosting</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Why Host</a>
              </li>
              <li>
                <a href="#!">Hospitality</a>
              </li>
              <li>
                <a href="#!">Responsible Hosting</a>
              </li>
              <li>
                <a href="#!">Community Center</a>
              </li>
            </ul>

          </div>

            <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Additional Info</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Terms</a>
              </li>
              <li>
                <a href="#!">Privacy</a>
              </li>
              <li>
                <a href="#!">Sitemap</a>
              </li>
              <li>
                <a href="#!">Customer Support</a>
              </li>
            </ul>

          </div>

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Happy Inn
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->