<ngb-carousel>
  <ng-template ngbSlide>
    <div class="cover">
        <div style="background-image: url(../../../assets/images/architecture.jpg); " class="video-thumbnail">
        </div>   
    </div>
    <div class="carousel-caption">
      <h3>Remarkable value. Unbeatable location.</h3>
      <button 
        routerLink="/rentals"
        type="button"
        class="btn"  
      >View Rentals</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <div class="cover">
          <div style="background-image: url(../../../assets/images/apartment.jpg); " class="video-thumbnail">
          </div>   
      </div>
    <div class="carousel-caption">
      <h3>Spacious Modern Living.</h3>
      <button 
        routerLink="/rentals"
        type="button"
        class="btn"  
      >View Rentals</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="cover">
        <div style="background-image: url(../../../assets/images/coconut.jpg); " class="video-thumbnail">
        </div>   
    </div>
    <div class="carousel-caption">
      <h3>Everything You Need. All Right Here.</h3>
      <button 
        routerLink="/rentals"
        type="button"
        class="btn"  
      >View Rentals</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <div class="cover">
          <div style="background-image: url(../../../assets/images/flora.jpg); " class="video-thumbnail">
          </div>   
      </div>
    <div class="carousel-caption">
      <h3>Great Experiences Are Just Around The Corner.</h3>
      <button 
        routerLink="/rentals"
        type="button"
        class="btn"  
      >View Rentals</button>
    </div>
  </ng-template>
</ngb-carousel>

